.features {
  grid-column: 3 / 11;
  grid-row: 2 / 3;

  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 6rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  align-content: start;

  &__icon {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    fill: $color-primary;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.5rem;
  }
}
