.heading-1 {
  font-family: $font-display;
  font-size: 4.3rem;
  letter-spacing: -1px;
  color: #fff;
  font-weight: 500;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  font-weight: 400;
  color: $color-grey-dark-1;
  font-family: $font-display;
}

.heading-3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: $color-primary-dark;
  letter-spacing: 3px;
}

.heading-4 {
  font-size: 1.8rem;
  color: $color-grey-dark-1;
}

.btn {
  border: none;
  background-color: $color-primary;
  padding: 2rem 4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: $font-display;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: $color-primary-dark;
  }
}

// SPACING
.mb-sm {
  margin-bottom: 1.5rem;
}

.mb-md {
  margin-bottom: 2.5rem;
}
